import { FC } from 'react';
import styles from './{{properCase name}}.module.scss';
interface {{properCase name}}Props {

}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => (
  <div className={styles.{{camelCase name}}Wrapper}>
    <h2>{{pascalCase name}} component</h2>
  </div>
);

export { {{pascalCase name}} };
